.shoppingcart-container{
    padding: 0;
    margin: 0;
}

.font-bold{
    font-weight: bold;
}

strong,
.sign-span{
    font-size: 1.5rem;
}

.shoppingcart-inner{
    width: 100%;
}

.shoppingcart-title{
    display: flex;
    align-items: center;
    justify-content: center;

}

.shoppingcart-title-content{
    font-weight: bold;
    font-size: 1rem;
}

.order-table,
.order-totalsummary {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
}

.order-table-head th{
    background-color: #fbfafa;
    border-bottom: 1px solid black; /* 위쪽에 선 그리기 */
    border-top: 1px solid black; /* 아래쪽에 선 그리기 */
    font-weight: 100; /* 폰트 두껍게 */
    font-size: 0.825rem; /* 폰트 사이즈 조정 */
    padding: 0.5rem;
}

.order-table-items{
    border-bottom: 1px solid #ccc;
}

.order-table-body{
    border-bottom: 1px solid black;
}

.order-table-body th {
    font-weight: 100; /* 폰트 두껍게 */
    font-size: 0.825rem; /* 폰트 사이즈 조정 */
}

.order-table-body td {
    text-align: center;
    vertical-align: middle; /* 수직 중앙 정렬 */
    padding: 0.5rem auto;
}

.table-body-product-name{
    text-align: left;
}

.table-body-select-option{
    text-align: left;
    font-size: 0.9rem;
    color: #707070;
}

.order-totalsummary{
    margin-top: 2rem;
    width: 90%;
    
}

.order-totalsummary th
{
    padding: 1rem;
    text-align: center;
}

.order-totalsummary td
{
    padding: 1.5rem;
    text-align: center;
}

.order-totalsummary-title
{
    border-top: 1px solid #000;
    border-bottom: 1px solid #ccc;
    background-color: #fbfafa;
}
.order-totalsummary tbody{
    border-bottom: 1px solid #000;
}