.detail-context-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.detail-img{
    padding: 0px 15px 0px 10px;
}

.detail-info{
    
}

.detail-product-name{
    font-size: 25px;
}

.detail-color-radio{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    text-align: center;
    margin: 5px;
}

.detail-color-radio :hover{
    background: gray;
}

.detail-color-radio input{
    display: none;
}

.detail-size-radio{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
    width: 100px;
    text-align: center;
    margin: 5px;
}

.detail-size-radio input{
    display: none;
}

.detail-count{
    /* display: none; */
    display: flex;
    justify-content: space-between;
}

.detail-selected{
    display: inline-flex;
    list-style: none;
    width: 60%;
}
.detail-selected li{
    padding-right: 30px;
    
}

.detail-count button{
    width: 40px;
    height: 40px;
    margin: 0px 15px;
    background-color: lightgray;
    border: none;
}

.total-price{
    display: flex;
    justify-content: space-between;
}

.buy-btn{
    border: none;
    width: 50%;
    height: 50px;
    background-color: blanchedalmond;
}

.cart-btn{
    border: 1px solid blanchedalmond;
    width: 50%;
    height: 50px;
    background-color: transparent;
}