.detail-context-box{
    display: flex;
    justify-content: center;
    padding: 25px;
}

.detail-img{
    padding: 0px 15px 0px 10px;
}

.detail-info{
    width: 50%;
}

.detail-color{
    display: inline-flex;
    padding-bottom: 20px;
}

.detail-color-button{
    border: 1px solid gray;
    border-radius: 8px;
    background: transparent;
    padding: 10px;
    width: 100px;
    text-align: center;
    margin: 5px;
}

.detail-color-button:hover,
.detail-color-button:focus,
.detail-color-button:active {
    background: #333;
    color: white;
    transition: background-color 0.5s;
    cursor: pointer;
}

.detail-size{
    display: flex;
    padding-bottom: 20px;
}

.detail-size-button{
    border: 1px solid gray;
    border-radius: 8px;
    background: transparent;
    padding: 10px;
    width: 100px;
    text-align: center;
    margin: 5px;
}

.detail-size-button:hover,
.detail-size-button:focus,
.detail-size-button:active {
    background: #333;
    color: white;
    transition: background-color 0.5s;
    cursor: pointer;
}

.detail-color-button.selected,
.detail-size-button.selected {
    background: #333;
    color: white;
    transition: background-color 0.5s;
}

.detail-size-button.disabled{
    background: lightgray;
    color: gray;
}

.detail-count{
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.detail-selected{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    
}

.seleted-delete-btn{
    background: transparent;
    border: 1px solid gray;
    border-radius: 7px;
    width: 30px;
    height: 30px;
}

.total-price{
    display: flex;
    font-size: 20px;
    padding: 30px 0px 10px 0px;
    justify-content: space-between;
}

.buy-btn{
    border: none;
    width: 50%;
    height: 50px;
    background-color: #333;
    color: white;
}

.cart-btn{
    border: 1px solid #333;
    width: 50%;
    height: 50px;
    background-color: transparent;
}

.cart-btn:hover,
.buy-btn:hover,
.cart-btn:active,
.buy-btn:active{
    cursor: pointer;
}