
.main-con {
    text-align: center;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.img-btn{
    background-color: inherit;
    border: none;
    cursor: pointer;
}